<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>后台管理系统</title>
    <link rel="stylesheet" href="../../lib/normalize.css">
    <link rel="stylesheet" href="../../lib/base.css">
    <link rel="stylesheet" href="css/iframe4-1.css">
    <script src="../../lib/shim/es5-shim.js"></script>
    <script src="../../lib/shim/es5-sham.js"></script>
    <script src="../../lib/jquery-1.11.1.min.js"></script>
    <script src="../../lib/template-web.js"></script>
    <script src="../../lib/echarts.min.js"></script>
    <script src="js/iframe4-1.js"></script>
    <link rel="stylesheet" href="../iframe1/css/iframe.css">
    <script>
        $(function(){
            head.init();
        });
    </script>



</head>
<body>
    <div class="head">
        <span>首页》交易信息</span>
        <span class="js-head-menu"></span>
    </div>
    <div class="iframe4-content">
       <div class="iframe4-content-title">
           <div class="iframe4-list">
               <div class="iframe4-list-l">
                   <span></span>
               </div>
                <div class="iframe4-list-r">
                    <p>交易金额</p>
                    <p>33423.32</p>
                </div>
           </div>
           <div class="iframe4-list">
               <div class="iframe4-list-l">
                   <span></span>
               </div>
                <div class="iframe4-list-r">
                    <p>订单数量</p>
                    <p>5656</p>
                </div>
           </div>
           <div class="iframe4-list">
               <div class="iframe4-list-l">
                   <span></span>
               </div>
                <div class="iframe4-list-r">
                    <p>交易成功</p>
                    <p>34565</p>
                </div>
           </div>
           <div class="iframe4-list">
               <div class="iframe4-list-l">
                   <span></span>
               </div>
                <div class="iframe4-list-r">
                    <p>交易失败</p>
                    <p>34</p>
                </div>
           </div>
           <div class="iframe4-list">
               <div class="iframe4-list-l">
                   <span></span>
               </div>
                <div class="iframe4-list-r">
                    <p>退款金额</p>
                    <p>3441.68</p>
                </div>
           </div>
       </div>
        <div class="iframe4-content-earch" id="iframe4-content-earch">

        </div>
    </div>

</body>
</html>