<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>后台管理系统</title>
    <link rel="stylesheet" href="../../lib/normalize.css">
    <link rel="stylesheet" href="../../lib/layui/css/layui.css">
    <script src="../../lib/layui/layui.js"></script>
    <script src="../../lib/jquery-1.11.1.min.js"></script>
    <script src="../../lib/template-web.js"></script>

    <link rel="stylesheet" href="../../lib/base.css">
    <link rel="stylesheet" href="../iframe1/css/iframe.css">
    <link rel="stylesheet" href="css/iframe2.css">
    <script src="js/iframe2.js"></script>
    <script>
        $(function(){
            nav.into();
        });
    </script>
    <script id="produtPage" type="text/html">
        <p>
            <span>每页显示条数：</span>
            <span>10</span>
        </p>
        <table class="iframe2-list-table">
            <tr class="iframe2-table-title">
                <td><input class="iframe2-list-input js-allChecked" type="checkbox" name="allselect"></td>
                <td>产品编号</td>
                <td>产品名称</td>
                <td>投资金额</td>
                <td>加入时间</td>
                <td>审核状态</td>
                <td>状态</td>
                <td>操作</td>
            </tr>
            {{each $data.content}}
            <tr>
                <td><input class="iframe2-list-input js-itemChecked" type="checkbox" name="allselect"></td>
                <td>{{$value.number}}</td>
                <td>
                    <a href="#">{{$value.name}}</a>
                </td>
                <td>{{$value.menony}}</td>
                <td>{{$value.date}}</td>
                <td>{{$value.stat}}</td>
                <td>
                    <span class="table-on">{{$value.curtstat}}</span>
                </td>
                <td class="table-set">
                    <s></s>
                    <s></s>
                    <s></s>
                </td>
            </tr>
            {{/each}}
        </table>

        <p class="currt-branches">
            第
            <span>{{$data.branches.brfirst}}</span>
            到
            <span>{{$data.branches.brlast}}</span>
            条记录，共
            <span>{{$data.branches.brcount}}</span>
            条
        </p>
        <div class="currt-page">
            <div class="js-pre-page">上一页</div>
            <div>{{$data.pager.pageNum}}</div>
            <div class="js-next-page">下一页</div>
        </div>
    </script>

</head>
<body>
    <!--head开始-->
    <div class="head">
        <span>首页》</span>
        <span class="js-head-menu"></span>
    </div>
    <!--iframe2-content开始-->
    <div class="iframe2-content">
        <div class="iframe2-content-seach">
            <div class="content-seach-list">
                <span>产品名称</span>
                <input type="text" name="pcName" placeholder="输入产品名称">
            </div>
            <div class="content-seach-list">
                <span>添加时间</span>
                <input type="text" name="adTime" placeholder="选择时间">
            </div>
            <div class="content-seach-input">
                <input type="button" name="seach" value="查询">
            </div>
        </div>
        <div class="iframe2-content-buttom clearfix">
            <div>添加商品</div>
            <div>批量删除</div>
            <span class="fr">
                共
                <s>2324</s>
                件商品
            </span>
        </div>
        <div class="iframe2-content-list">
            <div class="iframe2-list-l">
                <h>产品类型类表</h>
                <ul>
                    <li class=" list-li on">
                        <s></s>
                        <s></s>
                        <span class="js-list-li">产品分类列表</span>
                        <ul>
                            <li class=" list-li2 on">
                                <s ></s>
                                <span class="js-list-li ">小树时代</span>
                            </li>
                            <li class=" list-li2">
                                <s></s>
                                <span class="js-list-li">合时代</span>
                            </li>
                            <li class=" list-li2">
                                <s></s>
                                <span class="js-list-li">小猪理财</span>
                            </li>
                            <li class=" list-li2">
                                <s></s>
                                <span class="js-list-li">小猪返利</span>
                            </li>
                            <li class=" list-li2">
                                <s></s>
                                <span class="js-list-li">国代网</span>
                            </li>
                            <li class=" list-li2">
                                <s></s>
                                <span class="js-list-li">盈金融</span>
                            </li>
                            <li class=" list-li2">
                                <s></s>
                                <span class="js-list-li">宜人财富</span>
                            </li>
                            <li class=" list-li2">
                                <s></s>
                                <span class="js-list-li">银财富</span>
                            </li>
                            <li class=" list-li2">
                                <s></s>
                                <span class="js-list-li">陆金所</span>
                            </li>
                            <li class=" list-li2">
                                <s></s>
                                <span class="js-list-li">网信</span>
                            </li>
                            <li class=" list-li2">
                                <s></s>
                                <span class="js-list-li">恒泰金服</span>
                            </li>
                            <li class=" list-li2">
                                <s></s>
                                <span class="js-list-li">超有利</span>
                            </li>
                            <li class=" list-li2">
                                <s></s>
                                <span class="js-list-li">铜板街</span>
                            </li>
                            <li class=" list-li2">
                                <s></s>
                                <span class="js-list-li">你我贷</span>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="iframe2-list-r js-iframe2-list-r">
               <!-- <p>
                    <span>每页显示条数：</span>
                    <span>10</span>
                </p>
                <table class="iframe2-list-table">
                    <tr class="iframe2-table-title">
                        <td><input class="iframe2-list-input js-allChecked" type="checkbox" name="allselect"></td>
                        <td>产品编号</td>
                        <td>产品名称</td>
                        <td>投资金额</td>
                        <td>加入时间</td>
                        <td>审核状态</td>
                        <td>状态</td>
                        <td>操作</td>
                    </tr>
                    <tr>
                        <td><input class="iframe2-list-input js-itemChecked" type="checkbox" name="allselect"></td>
                        <td>23456</td>
                        <td>
                            <a href="#">小树时代</a>
                        </td>
                        <td>4324</td>
                        <td>2018-01-01</td>
                        <td>通过</td>
                        <td>
                            <span class="table-on">已起用</span>
                        </td>
                        <td class="table-set">
                            <s></s>
                            <s></s>
                            <s></s>
                        </td>
                    </tr>
                    <tr>
                        <td><input class="iframe2-list-input js-itemChecked" type="checkbox" name="allselect"></td>
                        <td>23457</td>
                        <td>
                            <a href="#">合时代</a>
                        </td>
                        <td>1233</td>
                        <td>2018-02-01</td>
                        <td>通过</td>
                        <td>
                            <span class="table-on">已起用</span>
                        </td>
                        <td class="table-set">
                            <s></s>
                            <s></s>
                            <s></s>
                        </td>
                    </tr>
                    <tr>
                        <td><input class="iframe2-list-input js-itemChecked" type="checkbox" name="allselect"></td>
                        <td>23466</td>
                        <td>
                            <a href="#">小猪理财</a>
                            </td>
                        <td>4325</td>
                        <td>2018-01-01</td>
                        <td>通过</td>
                        <td>
                            <span class="table-on">已起用</span>
                        </td>
                        <td class="table-set">
                            <s></s>
                            <s></s>
                            <s></s>
                        </td>
                    </tr>
                    <tr>
                        <td><input class="iframe2-list-input js-itemChecked" type="checkbox" name="allselect"></td>
                        <td>23469</td>
                        <td>
                            <a href="#">小猪返利</a>
                        </td>
                        <td>657</td>
                        <td>2018-01-01</td>
                        <td>通过</td>
                        <td>
                            <span class="table-on">已起用</span>
                        </td>
                        <td class="table-set">
                            <s></s>
                            <s></s>
                            <s></s>
                        </td>
                    </tr>
                    <tr>
                        <td><input class="iframe2-list-input js-itemChecked" type="checkbox" name="allselect"></td>
                        <td>23469</td>
                        <td>
                            <a href="#">小猪返利</a>
                        </td>
                        <td>657</td>
                        <td>2018-01-01</td>
                        <td>通过</td>
                        <td>
                            <span class="table-on">已起用</span>
                        </td>
                        <td class="table-set">
                            <s></s>
                            <s></s>
                            <s></s>
                        </td>
                    </tr>
                    <tr>
                        <td><input class="iframe2-list-input js-itemChecked" type="checkbox" name="allselect"></td>
                        <td>23469</td>
                        <td>
                            <a href="#">小猪返利</a>
                        </td>
                        <td>657</td>
                        <td>2018-01-01</td>
                        <td>通过</td>
                        <td>
                            <span class="table-on">已起用</span>
                        </td>
                        <td class="table-set">
                            <s></s>
                            <s></s>
                            <s></s>
                        </td>
                    </tr>
                    <tr>
                        <td><input class="iframe2-list-input js-itemChecked" type="checkbox" name="allselect"></td>
                        <td>23469</td>
                        <td>
                            <a href="#">小猪返利</a>
                        </td>
                        <td>657</td>
                        <td>2018-01-01</td>
                        <td>通过</td>
                        <td>
                            <span class="table-on">已起用</span>
                        </td>
                        <td class="table-set">
                            <s></s>
                            <s></s>
                            <s></s>
                        </td>
                    </tr>
                </table>-->
            </div>
        </div>
    </div>

</body>
</html>