<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>后台管理系统</title>
    <link rel="stylesheet" href="../../lib/normalize.css">
    <link rel="stylesheet" href="../../lib/layui/css/layui.css">
    <script src="../../lib/shim/es5-shim.js"></script>
    <script src="../../lib/shim/es5-sham.js"></script>
    <script src="../../lib/layui/layui.js"></script>
    <script src="../../lib/jquery-1.11.1.min.js"></script>
    <script src="../../lib/template-web.js"></script>
    <script src="../../lib/echarts.min.js"></script>
    <link rel="stylesheet" href="../../lib/base.css">
    <link rel="stylesheet" href="../iframe1/css/iframe.css">
    <link rel="stylesheet" href="../iframe2/css/iframe2.css">
    <link rel="stylesheet" href="css/iframe4-4.css">
    <script src="js/iframe4-4.js"></script>
    <script>
        $(function(){
            nav.into();
        });
    </script>
    <script id="produtPage" type="text/html">
        <p>
            <span>每页显示条数：</span>
            <span>10</span>
        </p>
        <table class="iframe2-list-table">
            <tr class="iframe2-table-title">
                <td><input class="iframe2-list-input js-allChecked" type="checkbox" name="allselect"></td>
                <td>产品编号</td>
                <td>产品名称</td>
                <td>投资金额</td>
                <td>加入时间</td>
                <td>审核状态</td>
                <td>状态</td>
                <td>操作</td>
            </tr>
            {{each $data.content}}
            <tr class="js-iframe2-table-row">
                <td><input class="iframe2-list-input js-itemChecked" type="checkbox" name="allselect"></td>
                <td>{{$value.number}}</td>
                <td>
                    <a href="#">{{$value.name}}</a>
                </td>
                <td>{{$value.menony}}</td>
                <td>{{$value.date}}</td>
                <td>{{$value.stat}}</td>
                <td>
                    <span class="table-on js-table-on">{{$value.curtstat}}</span>
                </td>
                <td class="table-set">
                    <s class="js-set-on"></s>
                    <s class="js-set-re"></s>
                    <s class="js-set-mo"></s>
                </td>
            </tr>
            {{/each}}
        </table>

        <p class="currt-branches">
            第
            <span>{{$data.branches.brfirst}}</span>
            到
            <span>{{$data.branches.brlast}}</span>
            条记录，共
            <span>{{$data.branches.brcount}}</span>
            条
        </p>
        <div class="currt-page">
            <div class="js-pre-page">上一页</div>
            <div>{{$data.pager.pageNum}}</div>
            <div class="js-next-page">下一页</div>
        </div>
    </script>
    <script id="confirmBox" type="text/html">
        <div class="table-balckFixed js-table-balckFixed">
            <div class="infro-box js-infro-box">
                <div>
                    <span>信息</span>
                    <s class="js-close"></s>
                </div>
                <div>{{$data.text}}</div>
                <div>
                    <div class="js-yes">确定</div>
                    <div class="js-no">取消</div>
                </div>
            </div>
        </div>
    </script>
    <script id="tipBox" type="text/html">
        <div class="table-balckFixed js-table-balckFixed">
            <div class="infro-box">
                <div class="infro-div">
                    <img src={{$data.url}}>
                    {{$data.text}}
                </div>
            </div>
        </div>
    </script>


</head>
<body>
    <!--head开始-->
    <div class="head">
        <span>首页》交易金额</span>
        <span class="js-head-menu"></span>
    </div>
    <!--iframe2-content开始-->
    <div class="iframe2-content js-iframe2-content">
        <div class="iframe2-content-seach">
            <div class="total-money">
                <p class="total-money-firstp">
                    总成交金额
                    <span>31234.34</span>
                    元
                </p>
                <p class="total-money-twop">
                    最新统计时间
                    <span>2018-03-01</span>
                </p>
            </div>
            <div class="total-money day">
                <p class="total-money-firstp">
                    ￥
                    <span>334</span>
                    元
                </p>
                <p class="total-money-twop">
                   当天成交额
                </p>
            </div>
            <div class="total-month js-month-echarts">
                <img src="../../image/1data.png">
                <p >当月统计</p>
            </div>
            <div class="fixed js-fixed">
                <div id="monthChart" class="month-echarts js-month-echarts">

                </div>
            </div>
        </div>
        <div class="iframe2-content-buttom clearfix">
            <div>全部订单</div>
            <div>当天订单</div>
            <div>当月订单</div>
            <span class="fr">
                共
                <s>2324</s>
                件商品
            </span>
        </div>
        <div class="iframe2-content-list">
            <div class="iframe2-list-r js-iframe2-list-r">
            </div>
        </div>

    </div>

</body>
</html>