/*——iframe4-1 content开始——*/
.iframe4-content{
    padding: 20px;
    width:  100%;
    height: 100%;
}
.iframe4-list{
    display: inline-block;
    border: 1px solid #e5e5e5;
    border-radius:  3px;
    margin-right:  10px;
}
.iframe4-list-l>span{
    display: inline-block;
    width: 50px;
    height: 50px;
    background-position:  center;
    background-repeat:  no-repeat;
    background-size:  contain;
}

.iframe4-list:nth-of-type(2) span{
   background-image: url("../image/menony.png");
}
.iframe4-list:nth-of-type(3) span{
   background-image: url("../image/menony.png");
}
.iframe4-list:nth-of-type(4) span{
   background-image: url("../image/menony.png");
}
.iframe4-list:nth-of-type(5) span{
   background-image: url("../image/cat.png");
}
.iframe4-list:nth-of-type(1)>.iframe4-list-l{
   background-color: rgb(255, 108, 96);
}
.iframe4-list:nth-of-type(2)>.iframe4-list-l{
   background-color: rgb(87, 200, 242);
}
.iframe4-list:nth-of-type(3)>.iframe4-list-l{
   background-color: rgb(108, 202, 201);
}
.iframe4-list:nth-of-type(4)>.iframe4-list-l{
   background-color: rgb(248, 211, 71);
}
.iframe4-list:nth-of-type(5)>.iframe4-list-l{
   background-color: rgb(67, 142, 185);
}
.iframe4-list:first-child span{
   background-image: url("../image/cat.png");
}
.iframe4-list:first-child+div span{
   background-image: url("../image/menony.png");
}
.iframe4-list:first-child+div+div span{
   background-image: url("../image/menony.png");
}
.iframe4-list:first-child+div+div+div span{
   background-image: url("../image/menony.png");
}
.iframe4-list:first-child+div+div+div+div span{
   background-image: url("../image/cat.png");
}
.iframe4-list:first-child>.iframe4-list-l{
   background-color: rgb(255, 108, 96);
}
.iframe4-list:first-child+div>.iframe4-list-l{
   background-color: rgb(87, 200, 242);
}
.iframe4-list:first-child+div+div>.iframe4-list-l{
   background-color: rgb(108, 202, 201);
}
.iframe4-list:first-child+div+div+div>.iframe4-list-l{
   background-color: rgb(248, 211, 71);
}
.iframe4-list:first-child+div+div+div+div>.iframe4-list-l{
   background-color: rgb(67, 142, 185);
}
.iframe4-list-l{
    display: inline-block;
    vertical-align: -4px;
    padding: 10px 15px;
    border-radius: 3px 0 0 3px;
}
.iframe4-list-r{
    display: inline-block;
    font-size:  18px;
    padding: 10px 20px;
}
.iframe4-list-r>p:nth-of-type(2){
   color: #f10215;
   font-weight: 500;
}
.iframe4-content-earch{
    background-color: #f9f9f9;
    position:  absolute;
    top: 155px;
    bottom:  0;
    left: 20px;
    right: 20px;
 }
